* {
  box-sizing: border-box;
}

body{
  flex-shrink: 1;
  max-width: 100%;
  max-height: 100%;
  margin: 0px;
  padding: 0px;
  background-color: black;
}

canvas {
  display: flex;
  outline: none;
  border: none;
  height: 100%;
  width: 440px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 1;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;

  p {
    margin: 20px;
    text-align: center;
    padding: 20px;
    width: 100%;
    font-size: 40px;
    text-shadow: 3px 2px rgba(6, 57, 167, 0.986);

    span {
      color: rgb(214, 213, 213);
    }
  }
}