* {
  box-sizing: border-box;
}

body{
  display: flexbox;
  max-width: 100vw;
  max-height: 100vh;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0px;
  padding: 0px;
  background-image: url("../img/pacman.png");
  background-size: cover;
  align-content: center;
  justify-items: center;
}

canvas {

  display: flex;
  outline: none;
  border: none;
  width: 440px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 1;
  margin: 0px;
  padding-bottom: 40px;
  min-width: min-content;
  max-width: max-content;
  height: 100%;
  background-color: rgb(68, 68, 68);
  border-radius: 5px;
  p {
    margin: 20px;
    text-align: center;
    padding: 20px;
    width: 100%;
    font-size: 40px;
    text-shadow: 3px 2px rgba(6, 57, 167, 0.986);

    span {
      color: rgb(214, 213, 213);
    }
  }
}